:host {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: lemonchiffon;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    justify-content: space-between;
    margin: 10px;
    flex-shrink: 0;
}

:host:hover {
    box-shadow: 0 0 10px #0377fc;
    .note-header .title-wrapper .add-icon {
        display: block;
    }
}

.note-header {
    background-color: rgba(216, 211, 137, 0.8);
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-wrapper {
        width: 70%;
        padding: 3px 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        .add-icon {
            background-image: url('/assets/add.svg');
            display: none;
        }

        .add-icon:hover {
            background-image: url('/assets/add-blue.svg');
        }
    
        .note-title {
            font-weight: 800;
            border: none;
            outline: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
        }
    }

    &.preview {
        height: 30px;

        .title-wrapper {
            padding: 5px 8px;

            .note-title {
                font-size: 20px;
            }
        }

        .note-icon {
            height: 22px;
            width: 22px;
        }
    }

    .note-icons {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3px 5px 2px 0;

        .view-icon {
            background-image: url('/assets/eye.svg');
        }

        .view-icon:hover {
            background-image: url('/assets/eye-blue.svg');
        }

        .edit-icon {
            background-image: url('/assets/pencil.svg');
        }

        .edit-icon:hover {
            background-image: url('/assets/pencil-blue.svg');
        }

        .delete-icon {
            background-image: url('/assets/trash.svg');
        }

        .delete-icon:hover {
            background-image: url('/assets/trash-blue.svg');
        }
    }

    .note-icon {
        height: 15px;
        width: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.note-content {
    position: relative;
    height: 100%;
    padding: 10px;

    .note-text {
        font-weight: 400;
        overflow-y: auto;
        height: 100%;
        border: none;
        outline: none;
        overflow-wrap: anywhere;
    }

    &.preview {
        .note-text {
            font-size: 21px;
        }
    }
}

.note-tags-list {
    padding: 5px 0;
    display: flex;
    flex-flow: wrap;
    
    .note-tag {
        display: block;
        height: 15px;
        max-width: fit-content;
        border: 1px solid purple;
        border-radius: 5px;
        background-color: rgba(210, 163, 233, 0.877);
        padding: 3px;
        font-size: 14px;
        margin: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

