<div class="note-header" (click)="editNote(true)" (focusout)="editNote(false)">
    <div class="title-wrapper">
        <div *ngIf="isEditable; else notEditableTitle" (focusout)="onTitleChange($event)" class="note-title"
            contenteditable="true">{{note?.title}}</div>
        <ng-template #notEditableTitle>
            <div class="note-title" contenteditable="false">{{note?.title}}</div>
        </ng-template>
    </div>
    <div class="note-icons">
        <div (click)="editNote(true)" class="note-icon edit-icon"></div>
        <div (click)="deleteNote()" class="note-icon delete-icon"></div>
    </div>
</div>
<div class="note-content" (click)="editNote(true)" (focusout)="editNote(false)">
    <div *ngIf="isEditable; else notEditableText" (focusout)="onTextChange($event)" class="note-text"
        contenteditable="true">
        {{note?.text}}
    </div>
    <ng-template #notEditableText>
        <div class="note-text" contenteditable="false">
            {{note?.text}}
        </div>
    </ng-template>
</div>